<!--read_user.html-->
{% extends "users/search_user.html" %}{% load static %}
{% block title %}User Details {% endblock %} {% block style %}
<link rel="stylesheet" href="{% static 'css/read_user.css' %}" />
{%endblock%} {% block userblock %}
{% if user %}
<h2>User Details</h2>
<table><tr>
  <th>Id</th>
  <td>{{ user.id }}</td>
</tr>
  <tr>
    <th>First Name</th>
    <td>{{ user.first_name }}</td>
  </tr>
  <tr>
    <th>Last Name</th>
    <td>{{ user.last_name }}</td>
  </tr>
  <tr>
    <th>Email</th>
    <td>{{ user.email }}</td>
  </tr>
  <tr>
    <th>Role</th>
    <td>{{ user.role }}</td>
  </tr>
  <tr>
    <th>Last Edit</th>
    <td>{{ user.last_edit }}</td>
  </tr>
  <tr>
    <th>Status</th>
    <td>{{ user.status|yesno:"Active,Inactive" }}</td>
  </tr>
</table>
{% if profile_pic %}
<p><strong>Profile Picture:</strong></p>
<!-- Display the image using the base64 encoded string -->
<img src="data:image/jpeg;base64,{{ profile_pic }}" alt="Profile Picture" /> {% endif %}
<a href="/update-user/{{user.id}}" class="btn btn-sm btn-primary btn-xs">Edit</a>
{% if user.status == 1 %}
<form method="post" style="display:inline;">
  {% csrf_token %}
  <input type="hidden" name="user_id" value="{{ user.id }}">
  <input type="hidden" name="new_status" value="0">
  <button type="submit" class="btn btn-sm btn-danger btn-xs">Remove</button>
</form>
{% else %}
<form method="post" style="display:inline;">
  {% csrf_token %}
  <input type="hidden" name="user_id" value="{{ user.id }}">
  <input type="hidden" name="new_status" value="1">
  <button type="submit" class="btn btn-sm btn-success btn-xs">Activate</button>
</form>
{% endif %}
<a href="" class="btn btn-sm btn-warning">Change Password</a>
{%else%}
<p>No user found</p>
{% endif %}
{% endblock %} {% comment %} {% url 'update_user' user.id %} {% url
'remove_user' user.id %} {% url 'change_password' user.id %} {% endcomment %}
