<!--search_user.html-->
{% extends "users/manage_users.html" %}{% load static %}
{% load static %}
{% load custom_filters %}

{% block title %}Search User{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/search_user.css' %}" />
{% endblock %}

{% block content %}
<h2>Search User</h2>
<form method="get" id="searchForm">
  <p>
    <label for="read_user">Search by ID or Name:</label>
    <input type="text" name="read_user" id="123" class="searchInput" placeholder="Enter User ID or Name" />
  </p>
  <button type="submit" class="btn btn-primary">Search</button>
</form>
<script>
    document.getElementById('searchForm').onsubmit = function(event) {
        event.preventDefault();
        var query = document.getElementById('123').value;
        console.log(query);
        if (query) {
            window.location.href = '/read/' + query;
        }
    };
    </script>

{% block userblock %} {%endblock%}

{% endblock %}
